<h2 mat-dialog-title>{{dialogData.title}}</h2>

<mat-dialog-content>    
    <mat-form-field>
        <input matInput placeholder="FirstName" [(ngModel)]="dialogData.data.firstName">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="MiddleName" [(ngModel)]="dialogData.data.middleName">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="LastName" [(ngModel)]="dialogData.data.lastName">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" [mat-dialog-close]="dialogData.data" cdkFocusInitial>Save</button>
</mat-dialog-actions>